body{
  margin: 20px;
}

navbar[name^=menuprincipal]{
  padding: 10px 0px 10px 0px;
}
#menuprincipal a {
  text-decoration: none;
  color: green;
    }
#menuprincipal a:hover {
  text-decoration: underline;
}
#menuprincipal a + a::before{
  content: "|";
  color: black;
}
footer {
  margin-top: 20px;
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
}
Tabla{
  border-collapse: collapse;
}
